#!/bin/bash
{% if restic_global_pre %}{{ restic_global_pre }}{% endif %}

export RESTIC_PASSWORD_COMMAND="{{ item.password_command | mandatory }}"
export RESTIC_REPOSITORY="{{ item.dest }}"

if [ ! -f "/root/backup-scripts/.{{ item.name }}.initialized" ]; then
    echo "going to init repo"
    /opt/restic init
    touch /root/backup-scripts/.{{ item.name }}.initialized
fi

{% if restic_global_post %}{{ restic_global_post }}{% endif %}
